<div class="gourmet-cremeux max-w-screen-xl mx-auto p-4">
  <div class="flex flex-col items-center h-full">
    <div class="text-center">
      <h1 class="font-bold text-4xl principal">Gourments Créations</h1>
      <p class="text-gray-700 mt-3 font-medium">
        A drink from the 'My Alowishus' bottled brews range OR grab one of our
        delicious coffee's
      </p>
    </div>

    <div class="flex items-center justify-between w-full">
      <div>
       <img [ngSrc]="natureUrl" alt="creation gif" width="500" height="500" />
      </div>

      <div
        class="shadow flex justify-between flex-wrap mt-10 p-5 rounded-lg bg-white"
      >
        <!-- Section Choisissez votre taille -->
        <div class="w-full md:w-1/3 mb-5">
          <h2 class="text-lg font-semibold mb-3">Choisissez votre taille</h2>
          <table class="w-full text-left">
            <tbody>
              <tr class="border-b">
                <td class="py-2">
                  <label>
                    <input
                      type="radio"
                      name="taille"
                      value="moyen"
                      class="mr-2"
                    />
                    Moyen
                  </label>
                </td>
                <td
                  class="py-2 text-right text-1xl font-semibold text-gray-700"
                >
                  2.500 Fcfa
                </td>
              </tr>
              <tr>
                <td class="py-2 pl-4 text-gray-600" colspan="2">
                  1 fruit + 1 sauce + céréales
                </td>
              </tr>
              <tr class="border-b">
                <td class="py-2">
                  <label>
                    <input
                      type="radio"
                      name="taille"
                      value="maxi"
                      class="mr-2"
                    />
                    Maxi
                  </label>
                </td>
                <td
                  class="py-2 text-right text-1xl font-semibold text-gray-700"
                >
                  3.500 Fcfa
                </td>
              </tr>
              <tr>
                <td class="py-2 pl-4 text-gray-600" colspan="2">
                  2 fruits + 2 sauces + céréales
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Section Choisissez vos fruits -->
        <div class="w-full md:w-1/3 mb-5">
          <h2 class="text-lg font-semibold mb-3">Choisissez vos fruits</h2>
          <table class="w-full text-left">
            <tbody>
              <tr>
                <td class="py-2">
                  <label>
                    <input
                      type="radio"
                      name="fruit"
                      value="raisin"
                      class="mr-2"
                    />
                    Raisin
                  </label>
                </td>
                <td class="py-2">
                  <label>
                    <input
                      type="radio"
                      name="fruit"
                      value="ananas"
                      class="mr-2"
                    />
                    Ananas
                  </label>
                </td>
              </tr>
              <tr class="border-t">
                <td class="py-2">
                  <label>
                    <input
                      type="radio"
                      name="fruit"
                      value="mangue"
                      class="mr-2"
                    />
                    Mangue
                  </label>
                </td>
                <td class="py-2">
                  <label>
                    <input
                      type="radio"
                      name="fruit"
                      value="passion"
                      class="mr-2"
                    />
                    Passion
                  </label>
                </td>
              </tr>
              <tr class="border-t">
                <td class="py-2">
                  <label>
                    <input
                      type="radio"
                      name="fruit"
                      value="kiwi"
                      class="mr-2"
                    />
                    Kiwi
                  </label>
                </td>
                <td class="py-2">
                  <label>
                    <input
                      type="radio"
                      name="fruit"
                      value="coco"
                      class="mr-2"
                    />
                    Coco
                  </label>
                </td>
              </tr>
              <tr class="border-t">
                <td class="py-2">
                  <label>
                    <input
                      type="radio"
                      name="fruit"
                      value="fraise"
                      class="mr-2"
                    />
                    Fraise
                  </label>
                </td>
                <td class="py-2">
                  <label>
                    <input
                      type="radio"
                      name="fruit"
                      value="framboise"
                      class="mr-2"
                    />
                    Framboise
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Section Choisissez vos sauces -->
        <div class="w-full md:w-1/3">
          <h2 class="text-lg font-semibold mb-3">Choisissez vos sauces</h2>
          <table class="w-full text-left">
            <tbody>
              <tr>
                <td class="py-2 border-b">
                  <label>
                    <input
                      type="radio"
                      name="sauce"
                      value="cerise"
                      class="mr-2"
                    />
                    Sauce cérise
                  </label>
                </td>
              </tr>
              <tr>
                <td class="py-2 border-b">
                  <label>
                    <input
                      type="radio"
                      name="sauce"
                      value="abricot"
                      class="mr-2"
                    />
                    Sauce abricot
                  </label>
                </td>
              </tr>
              <tr>
                <td class="py-2">
                  <label>
                    <input
                      type="radio"
                      name="sauce"
                      value="miel"
                      class="mr-2"
                    />
                    Miel
                  </label>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="flex items-center justify-center">
            <div class="flex items-center justify-between me-1">
              <button
                class="rounded bg-gray-900 px-3 py-1 text-1xl font-semibold text-white"
              >
                -
              </button>
              <span class="text-md font-bold text-gray-900 block mx-4">1</span>
              <button
                class="rounded bg-gray-900 px-3 py-1 text-1xl font-semibold text-white"
              >
                +
              </button>
            </div>
            <a
              href="#"
              class="ms-1 text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center btn"
              >Commander</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
