<nav class="bg-header text-white py-2 px-3 ">
  <div class="flex items-center justify-between ">
    <a
      href="#"
      class="flex items-center space-x-3"
    >

    <img [src]="logoSource" [alt]="altSource">

    </a>

    <div
      id="mega-menu"
      class=" div-ul-menu items-center hidden md:flex md:w-auto md:order-1"
    >
      <ul
        class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse"
      >
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-white font-normal"
            aria-current="page"
            >Menu 1</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-white font-normal"
          >
            Menu 2
          </a>
        </li>

        <li>
          <a
            href="#"
            class="block py-2 px-3 text-white font-normal"
            >Menu 3</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-white font-normal"
            >Menu 4</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
