<nav class="navbar">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      (click)="scrollToElement('accueil')"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        [ngSrc]="logoUrl"
        alt="Logo Milna Gourmet"
        width="100"
        height="100"
      />
    </a>
    <div
      class="relative flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
    >
    <!--Panier-->
      <button
        type="button"
        id="cartButton"
        class="btn-navbar focus:ring-offset-0 focus:outline-none focus:ring-0 font-medium rounded-lg text-sm px-4 py-2 text-center shadow-lg sm:px-3 sm:py-1.5 sm:text-xs md:px-4 md:py-2 md:text-sm lg:px-5 lg:py-2.5 lg:text-base"
      >
        <i class="fa-solid fa-bag-shopping"></i>
        <span class="ms-1 text-xs">0</span>
      </button>

      <!-- Dropdown pour les produits du panier -->
      <div
        id="cartDropdown"
        class="absolute right-0 top-6 z-10 mt-2 w-64 bg-white rounded-md shadow-lg hidden"
      >
        <div class="p-4">
          <h3 class="text-md font-medium mb-2 principal">Gourmets choisis</h3>
          <ul id="cartItems" class="space-y-2">
            <!-- Les produits seront ajoutés ici dynamiquement -->
          </ul>
          <div class="mt-4 pt-2 border-t">
            <p class="font-medium text-sm">
              Total: <span id="cartTotal">0.00 Fcfa</span>
            </p>
          </div>
        </div>
      </div>



      <!-- Bouton du menu pour mobile -->
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
      >
        <li>
          <a
            (click)="scrollToElement('accueil')"
            class="cursor-pointer principal block py-2 px-3 md:bg-transparent md:p-0"
            aria-current="page"
            >Accueil</a
          >
        </li>
        <li>
          <a
            (click)="scrollToElement('cremeux')"
            class="cursor-pointer principal block py-2 px-3 md:p-0"
            >Crémeux</a
          >
        </li>
        <li>
          <a
            (click)="scrollToElement('liquide')"
            class="cursor-pointer principal block py-2 px-3 md:p-0"
            >Liquides</a
          >
        </li>
        <li>
          <a
            (click)="scrollToElement('creation')"
            class="cursor-pointer principal block py-2 px-3 md:p-0"
            >Créations</a
          >
        </li>
        <li>
          <a
          (click)="scrollToElement('contact')"
            class="cursor-pointer principal block py-2 px-3 md:p-0"
            >Contacts</a
          >
        </li>
        <li>
          <a
          id="compte"
            class="cursor-pointer principal block py-2 px-3 md:p-0 relative"
            > <img [ngSrc]="iconCompte" alt="icon compte"  width="50" height="50" /> </a
          >
          <ul id="compteDropdown" class="font-medium absolute hidden z-10 mt-2  bg-white rounded-md shadow-lg">
            <li class="py-1 px-2">
              <a id="inscription"

                class="cursor-pointer principal block py-2 px-3 md:p-0"
                >S'inscrire</a
              >
            </li>
            <li class="py-1 px-2">
              <a id="connexion"

                class="cursor-pointer principal block py-2 px-3 md:p-0"
                >Se connecter</a
              >
            </li>
            <li class="py-1 px-2">
              <a

              (click)="logout()"
                class="cursor-pointer principal block py-2 px-3 md:p-0"
                >Se déconnecter</a
              >
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
