<div
      id="modalConnexion"
      class="mt-2 w-64 bg-white rounded-md shadow-lg hidden p-5"
    >
      <form   class="form p-4 w-1/2 mx-auto shadow-lg border-2 rounded bg-white">
        <h1 class="text-center font-medium text-xl mb-4 principal">
          Connexion
        </h1>


        <div class="flex flex-wrap mb-4">
          <!-- <div class="w-full md:w-1/2 p-2 mb-4 md:mb-0">
            <label for="mobile" class="block text-sm font-medium mb-1"
              >Numéro Mobile</label
            >
            <input
              type="tel"
              id="mobile"
              name="mobile"
              class="w-full p-2 border rounded"
              required
            />
          </div> -->
          <div class="w-full md:w-1/2 p-2 mb-4 md:mb-0">
            <label for="mobile" class="block text-sm font-medium mb-1"
              >E-mail</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="w-full p-2 border rounded"
              required
            />
          </div>
          <div class="w-full md:w-1/2 p-2 mb-4 md:mb-0">
            <label for="mobile" class="block text-sm font-medium mb-1"
              >Mots de passe</label
            >
            <input
              type="password"
              id="password"
              name="password"
              class="w-full p-2 border rounded"
              required
            />
          </div>
        </div>


        <div class="text-center">
          <button
            type="submit"
            class="btn-register text-white px-4 py-2 rounded"
          >
            Se connecter
          </button>
        </div>
      </form>
    </div>
