<div class="gourmet-cremeux">
  <div class="flex flex-col items-center h-full">
    <div class="text-center">
      <h1 class="font-bold text-4xl principal">Gourments Liquides</h1>
      <p class="text-gray-700 mt-3 font-medium">
        A drink from the 'My Alowishus' bottled brews range OR grab one of our
        delicious coffee's.
      </p>
    </div>

    <div class="services flex justify-between flex-wrap mt-10">
      <div
        class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow service"
      >
        <div class="service-image">
          <img [ngSrc]="natureUrl" alt="" height="200" width="200" />
        </div>
        <div class="px-5 pb-5">
          <h2 class="font-bold mt-2 text-gray-900 text-1xl">
            Bissap :
            <span class="text-gray-500">Gourmet liquide à l'hibiscus</span>
          </h2>
          <div class="flex items-center mt-2.5 mb-5">
            <span class="text-1xl font-semibold text-gray-700">2.500 Fcfa</span>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-center justify-between">
              <button
                class="rounded bg-gray-900 px-3 py-1 text-1xl font-semibold text-white"
              >
                -
              </button>
              <span class="text-md font-bold text-gray-900 block mx-4">1</span>
              <button
                class="rounded bg-gray-900 px-3 py-1 text-1xl font-semibold text-white"
              >
                +
              </button>
            </div>
            <a
              href="#"
              class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center btn"
              >Commander</a
            >
          </div>
        </div>
      </div>

      <div
        class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow service"
      >
        <div class="service-image">
          <img [ngSrc]="natureUrl" alt="" height="200" width="200" />
        </div>
        <div class="px-5 pb-5">
          <h2 class="font-bold mt-2 text-gray-900 text-1xl">
            Mil : <span class="text-gray-500">Gourmet liquide au mil</span>
          </h2>
          <div class="flex items-center mt-2.5 mb-5">
            <span class="text-1xl font-semibold text-gray-700">2.500 Fcfa</span>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-center justify-between">
              <button
                class="rounded bg-gray-900 px-3 py-1 text-1xl font-semibold text-white"
              >
                -
              </button>
              <span class="text-md font-bold text-gray-900 block mx-4">1</span>
              <button
                class="rounded bg-gray-900 px-3 py-1 text-1xl font-semibold text-white"
              >
                +
              </button>
            </div>
            <a
              href="#"
              class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center btn"
              >Commander</a
            >
          </div>
        </div>
      </div>

      <div
        class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow service"
      >
        <div class="service-image">
          <img [ngSrc]="natureUrl" alt="" height="200" width="200" />
        </div>
        <div class="px-5 pb-5">
          <h2 class="font-bold mt-2 text-gray-900 text-1xl">
            Couscous :
            <span class="text-gray-500">Gourmet liquide au couscous</span>
          </h2>
          <div class="flex items-center mt-2.5 mb-5">
            <span class="text-1xl font-semibold text-gray-700">2.500 Fcfa</span>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-center justify-between">
              <button
                class="rounded bg-gray-900 px-3 py-1 text-1xl font-semibold text-white"
              >
                -
              </button>
              <span class="text-md font-bold text-gray-900 block mx-4">1</span>
              <button
                class="rounded bg-gray-900 px-3 py-1 text-1xl font-semibold text-white"
              >
                +
              </button>
            </div>
            <a
              href="#"
              class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center btn"
              >Commander</a
            >
          </div>
        </div>
      </div>
    </div>

  </div>



</div>
