@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*:not(i){
  font-family: "Jost";
  box-sizing: border-box;

}


.principal{
  color: #34aeb3;
}

.secondaire{
  color: #06c1ca;
}


