@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*:not(i){
  font-family: "Jost";
  box-sizing: border-box;

}


.principal{
  color: #34aeb3;
}

.secondaire{
  color: #06c1ca;
}

.titre-header h1 span{
  font-size: 4vw;
}

/* Animation styles */
.highlight-text {
  position: relative;
  overflow: hidden;
  display: inline-block;

}
.highlight-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;

  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
  animation: highlight 2s linear infinite;
}
@keyframes highlight {
  0% {
      left: -100%;
  }
  100% {
      left: 100%;
  }
}

.highlight-text + p{
  font-size: 1.5vw; //3

}
.highlight-section{
  font-size: 3vw; //5
}
@media screen and (max-width:767px) {
  .highlight-text + p{
    font-size: 3.5vw;

  }
  .highlight-section{
    font-size: 6vw;
  }

  .titre-header{
    font-size: 4vw;

  }
}

.box
{
  width: 70%;
  margin: 20px auto;
}

@media screen and (max-width:768px){

  .box{
    width: 75%;
  }
}

@media screen and (max-width:480px){

  .box{
    width: 100%;
  }
}

// .titre-produit{
//   font-size:1.1vw;
// }
// .prix-produit{
//   font-size:1vw;
// }
// .quantite-produit, .btn-produit{
//   font-size:1.1vw;

// }

.box-section:not(#liquide, #creation){
  margin: 5rem 0;
}

@media screen and (max-width:768px) {
  .box-section:not(#liquide){
    margin-bottom: 3rem;
  }
}
